/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
    padding-top: 4rem; /* Espacio para el navbar fijo */
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: white;
    margin: 1rem;
    border-radius: 10px;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    text-align: center;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

/* Estilo para el ícono de WhatsApp */
.whatsapp-icon {
    width: 10px; /* Tamaño del ícono */
    height: 10px; /* Mantener la proporción */
    margin-right: 8px; /* Espacio entre el ícono y el texto */
    vertical-align: middle; /* Alineación vertical */
}

/* Ajuste para dispositivos pequeños */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        gap: 0.5rem;
    }
}
